global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:7000
    default_backend api-gateway

backend api-gateway
    balance roundrobin
    server api1 api-gateway:5000 check
